@font-face {
 font-family: 'NanumBarunGothic';
 font-style: normal;
 font-weight: 400;
 src: url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWeb.eot');
 src: url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWeb.eot?#iefix') format('embedded-opentype'), url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWeb.woff') format('woff'), url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWeb.ttf') format('truetype');
}
@font-face {
    font-family: 'NanumSquareRound';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_two@1.0/NanumSquareRound.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'EliceDigitalBaeum_Bold';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2105_2@1.0/EliceDigitalBaeum_Bold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

* {
    margin: 0px;
    padding: 0px;
}


body {
    font-family: 'NanumBarunGothic';
    /*background-image: url(../img/a566df2b-7ce7-4f83-a490-5df2ef949817.png);*/
    background-color: white;
}
h1 {
    font-family: 'EliceDigitalBaeum_Bold';
    text-align: center;
    font-size: 40px;
    margin: 20px;
    color: #167699;
}

h2 {
    font-family: 'EliceDigitalBaeum_Bold';
    text-align: center;
    font-size: 40px;
    margin: 20px;
    color: #167699;
    text-decoration: none; 
}

h3 {
    font-family: 'NanumBarunGothic';
    text-align: center;
    font-size: 20px;
   /* margin: 20px;*/
    margin-top: 10px;
	/*margin-bottom: 10px;*/
    color: black;
    margin-top: 10px;
	margin-bottom: 10px;
    text-decoration: none; 
}
.copyok {
    font-family: 'NanumBarunGothic';
    text-align: center;
    font-size: 20px;
   /* margin: 20px;*/
    margin-top: 10px;
	/*margin-bottom: 10px;*/
    color: black;
    margin-top: 10px;
	margin-bottom: 10px;
    text-decoration: none; 
}
.input {
    font-family: 'NanumBarunGothic';
    width: 100%;
    padding: 10px;
    height: 40px;
    outline-color: #167699;
    border: 1px solid #ddd;
}
.input_custom {
    font-family: 'NanumBarunGothic';
    width: 100%;
    padding: 10px;
    height: 40px;
    outline-color: #167699;
    border: 1px solid #ddd;
}
.input_custom:read-only {
    background: #eee;
    color: transparent;
    text-shadow: 0 0 0 #999;
    outline: none;
    cursor: default;
 }
.submit {
    font-family: 'NanumBarunGothic';
    width: 100px;
    height: 40px;
    font-weight: bold;
    margin-top: 20px;
    font-size: 16px;
    border: 1px solid #ddd;
    cursor: pointer;
    outline-color: #167699;
	color: black;
    background-color: rgba(255, 255, 255, 0.5);
	-webkit-appearance: none;
	-webkit-border-radius: 0;
}
.submit_copy {
    font-family: 'NanumBarunGothic';
    width: 50px;
    height: 30px;
    font-weight: bold;
    margin-top: 5px;
	margin-bottom: 30px;
    font-size: 13px;
    border: 1px solid #ddd;
    cursor: pointer;
    outline-color: #167699;
	color: black;
    background-color: rgba(255, 255, 255, 0.5);
	-webkit-appearance: none;
	-webkit-border-radius: 0;
}
.alert {
    font-size: 14px;
    color: #000;
    margin-bottom: 30px;
    margin-top: 30px;
    padding-top: 5px;
    padding-bottom: 5px;
    color: #fff;
    background-color: rgba(211, 47, 47, 1);
}

.success {
    font-size: 14px;
    color: #000;
	/*margin-bottom: 30px;*/
    margin-top: 30px;
    padding-top: 5px;
    padding-bottom: 5px;
    color: #fff;
    background-color: lightgreen;
    text-decoration: underline;
}

.success a {
    color: #167699;
}

.onoffswitch {
    position: relative;
    width: 90px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}

.onoffswitch-checkbox {
    display: none;
}

.onoffswitch-label {
    display: block;
    overflow: hidden;
    cursor: pointer;
    height: 30px;
    padding: 0;
    line-height: 30px;
    border: 2px solid #999999;
    border-radius: 30px;
    background-color: #EEEEEE;
    transition: background-color 0.3s ease-in;
}

.onoffswitch-label:before {
    content: "";
    display: block;
    width: 30px;
    margin: 0px;
    background: #FFFFFF;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 58px;
    border: 2px solid #999999;
    border-radius: 30px;
    transition: all 0.3s ease-in 0s;
}

.onoffswitch-checkbox:checked + .onoffswitch-label {
    background-color: #167699;
}

.onoffswitch-checkbox:checked + .onoffswitch-label, .onoffswitch-checkbox:checked + .onoffswitch-label:before {
    border-color: #167699;
}

.onoffswitch-checkbox:checked + .onoffswitch-label:before {
    right: 0px;
}

/*  SECTIONS  */
.section {
    clear: both;
    padding: 0px;
    margin: auto;
    width: 50%;
}

/*  COLUMN SETUP  */
.col {
    display: block;
    float: left;
    margin: 1% 0 1% 0;
}

.col:first-child {
    margin-left: 0;
}

/*  GROUPING  */
.group:before,
.group:after {
    content: "";
    display: table;
}

.group:after {
    clear: both;
}

.group {
    zoom: 1; /* For IE 6/7 */
}

/*  GRID OF THREE  */
.span_3_of_3 {
    width: 100%;
}

.span_2_of_3 {
    width: 20%;
    margin-left: 20px;

}

.span_1_of_3 {
    width: 70%;
}

#loading {
 width: 100%;
 height: 100%;
 top: 0px;
 left: 0px;
 position: fixed;
 display: block;
 opacity: 0.7;
 background-color: #fff;
 z-index: 99;
 text-align: center;
 }

#loading-image {
 position: absolute;
 top: 15%;
 left: 45%;
 z-index: 100;
 }

/*  GO FULL WIDTH AT LESS THAN 480 PIXELS */

@media only screen and (max-width: 480px) {
    .col {
        margin: 1% 0 1% 0%;
    }

    .span_3_of_3, .span_2_of_3, .span_1_of_3 {
        width: 100%;
    }
}
@media (prefers-color-scheme: dark) {
	body {
    font-family: 'NanumBarunGothic';
    text-align: center;
    background-color: #171f28;/*#202b38;*/
	color: white;
	margin: auto;
	}
	
	h3 {
    font-family: 'NanumBarunGothic';
    text-align: center;
    font-size: 20px;
    /*margin: 20px;*/
    margin-top: 10px;
	/*margin-bottom: 10px;*/
    color: white;
    text-decoration: none; 
	}
	.copyok {
    font-family: 'NanumBarunGothic';
    text-align: center;
    font-size: 20px;
    /*margin: 20px;*/
    margin-top: 10px;
	/*margin-bottom: 10px;*/
    color: white;
    text-decoration: none; 
	}
	.input {
    font-family: 'NanumBarunGothic';
    width: 100%;
    padding: 10px;
    height: 40px;
    outline-color: #167699;
    border: 1px solid #ddd;
}

	.input_custom {
    font-family: 'NanumBarunGothic';
    width: 100%;
    padding: 10px;
    height: 40px;
    outline-color: #167699;
    border: 1px solid #ddd;
	}
	
	.submit {
    font-family: 'NanumBarunGothic';
    width: 100px;
    height: 40px;
    font-weight: bold;
    margin-top: 20px;
    font-size: 16px;
    border: 1px solid #ddd;
    cursor: pointer;
    outline-color: #167699;
	color: black;
    background-color: rgba(255, 255, 255, 1);
	-webkit-appearance: none;
	-webkit-border-radius: 0;
	}

	.submit_copy {
    font-family: 'NanumBarunGothic';
    width: 50px;
    height: 30px;
    font-weight: bold;
    margin-top: 5px;
	margin-bottom: 30px;
    font-size: 13px;
    border: 1px solid #ddd;
    cursor: pointer;
    outline-color: #167699;
	color: black;
    background-color: rgba(255, 255, 255, 1);
	-webkit-appearance: none;
	-webkit-border-radius: 0;
	}
	
	.alert {
    font-size: 14px;
    color: #000;
    margin-bottom: 30px;
    margin-top: 30px;
    padding-top: 5px;
    padding-bottom: 5px;
    color: #fff;
    background-color: rgba(211, 47, 47, 1);
	}
}